.i-tg {
	width: 28px;
	height: 28px;
	fill: #bdbdbd;
}

.i-wa {
	width: 28px;
	height: 28px;
	fill: #bdbdbd;
}

.i-tel {
	width: 28px;
	height: 28px;
	fill: #bdbdbd;
}

.i-success {
	width: 168px;
	height: 168px;
	fill: $black;
}

.i-error {
	width: 168px;
	height: 168px;
	fill: $black;
}

.i-right {
	width: 103px;
	height: 29px;
	fill: $black;
}

.i-error-mini {
	width: 13px;
	height: 14px;
	fill: $red;
}